.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid var(--black);
  background-color: var(--white);
  margin-bottom: 35px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 35px;
}

.avatar {
  width: 250px;
  border-radius: 50%;
  background-color: var(--dark-grey);
}

.name {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.tagText {
  font-size: 36px;
  letter-spacing: 0.1rem;
}

.tagColor {
  color: var(--grey);
}

.stats {
  display: flex;
  justify-content: space-around;
  list-style: none;
  min-width: 100%;
  background-color: var(--light-grey);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.statsNumbers {
  font-size: 36px;
  font-weight: 600;
}

.stats li {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-top: 3px solid var(--grey);
  border-right: 3px solid var(--grey);
  width: 100%;
}

.stats li:last-child {
  border-right: none;
}
