.friendsList {
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style: none;
  gap: 18px;
  margin-bottom: 35px;
}

.friendsItem {
  width: 100%;
  border: 3px solid var(--black);
  border-radius: 10px;
}
