.table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
}

.table th,
td {
  border: 1px solid var(--black);
}

.table th {
  color: var(--white);
  background-color: var(--dark-grey);
  width: 33.3%;
  padding: 8px;
}

.table td {
  padding-left: calc(13% - 1px);
  padding-top: 8px;
  padding-bottom: 8px;
}

.table td::first-letter {
  text-transform: uppercase;
}

.table tbody tr:nth-child(odd) {
  background-color: var(--light-grey);
}
